<h1>TOUS LES RESTAURANTS</h1>

<% @restaurants.each do |restaurant| %>
<div class="card">
  <div class="card-body">
    <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
  </div>
</div>
<% end %>

<p><%= link_to "Add a restaurant", new_restaurant_path %></p>

